.every-row {
    width: calc((18rem + 25px) * 3);
    border-radius: 10px;
    box-shadow: 0px 0px 8px -3px black;
    padding: 5px 15px;
    height: 350px;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
}

.btn-direccion {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: white;
    box-shadow: 0px 0px 7px -2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.next-product {
    right: -40px;
    top: 50%;
    transform: translate(-0%, -50%);
}

.back-product {
    left: -40px;
    top: 50%;
    transform: translate(-0%, -50%);
}

.every-col {
    display: inline-block;
}

.title-productos {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price {
    color: green;
}

.card:hover {
    cursor: pointer;
}

.card:hover .title-productos {
    color: blue;
}

.width-li-card {
    width: auto !important;
}

/* Busqueda seccion */

.contenedor {
    position: relative;
    height: 100vh;
    width: 100%;
}

.categorias {
    position: absolute;
    width: 15rem;
    height: 100vh;
    left: 0;
    top: 0;
}

.content-categorias {
    position: relative;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 8px -2px black;
    width: 100%;
    height: 100%;
}

.busqueda {
    position: absolute;
    padding: 20px;
    width: calc(100% - 15rem);
    height: 8rem;
    top: 0;
    right: 0;
}

.content-busqueda {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding: 0px 10px;
    box-shadow: 0px 0px 8px -2px black;
    width: 100%;
    height: 100%;
}

.productos {
    position: absolute;
    padding: 10px;
    width: calc(100% - 15rem);
    height: calc(100vh - 8rem);
    overflow-y: auto;
    bottom: 0;
    right: 0;
}

.centro-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px -4px black;
    border-radius: 10px;
    padding: 0px 20px;
}

.list-carrito {
    width: 100%;
    height: 700px;
    overflow-y: auto;
}

.carrito {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background: #FF5733;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
}

.carrito:hover {
    box-shadow: 0px 0px 10px 0px black;
}

.any-product {
    height: 90vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}