body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
}

.navbar button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.navbar button:hover {
    background-color: #555;
}

.content {
    padding: 20px;
    text-align: center;
}

.content h1 {
    font-size: 32px;
    color: #333;
}

/* Estilos para el botón de subir */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    text-decoration: none;
}

.scroll-to-top:hover {
    background-color: #555;
    cursor: pointer;
}
